*.class
*.log
*.pid
*.seed
.cache
.DS_Store
.grunt
.history
.idea
.lib/
.lock-wscript
.scala_dependencies
.worksheet
coverage
dist/*
lib-cov
lib_managed/
logs
node_modules
project/project
project/target
target/
generated/